*{
margin:0;
padding:0; 
}

body{
    padding:5em;
    display:flex; 
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.cards{
    grid-auto-rows: min-content;
    border:1em solid blue;
}